body {
    margin: auto;
    width: 70%;
    max-width: 1000px;
    font-family: 'Comic Sans MS', sans-serif;
}

h1 {
    font-size: 35px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 20px;
}

.header__logo {
    width: 8%;
    padding: 5px;
}

.navigation {
    display: flex;
}

.navigation__link {
    padding: 5px;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.section {
    padding: 1%;
}

.section-header {
    text-align: center;
}

.short-information-section {
    align-items: flex-start;
}

.short-information-section__img {
    width: 50%;
    padding: 20px;
    border-radius: 10%;
}

.interests-section {
    display: flex;
    flex-direction: column;
}

.interests-list {
    padding: unset;
}

.interests-list__item {
    padding: 0 10px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: unset;
}

.skills-list__item {
    padding: 0 10px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid gray;
    padding: 20px;
}

.footer__link {
    padding: 5px;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-decoration: none;
}

@media (max-width: 1250px) {
    body {
        width: 95%;
        max-width: 1000px;
    }

    .header {
        padding: 10px;
        text-align: right;
        align-items: flex-start;
    }

    .header__logo {
        width: 20%;
        padding: 5px;
    }

    .navigation {
        flex-direction: column;
    }

    .short-information-section {
        flex-direction: column;
    }

    .short-information-section__img {
        width: 90%;
        padding: 20px;
        border-radius: 10%;
    }

    .interests-list {
        flex-direction: column;
    }

    .interests-list__item {
        padding: 0;
    }

    .skills-list {
        display: flex;
        flex-wrap: unset;
        justify-content: unset;
        flex-direction: column;
    }

    .skills-list__item {
        padding: 0;
    }
}
