@import url("./header.css");

@import url("./main.css");

@import url("./footer.css");

@import url("./popups.css");

.page {
    margin: auto;
    width: 70%;
    max-width: 1000px;
    font-family: 'Comic Sans MS', sans-serif;
    overflow-x: hidden;
}

.page__title {
    font-size: 35px;
}

@media (max-width: 1250px) {
    .page {
        width: 95%;
        max-width: 1000px;
    }
}
